# Ambiente virtual
.venv/
venv/
env/

# Banco de dados local
*.db
*.sqlite
*.sqlite3

# Variáveis de ambiente
.env
.env.*

# Cache do Python
__pycache__/
*.py[cod]
*$py.class

# Configurações de IDE
.vscode/
.idea/

# Sistema operacional
.DS_Store
Thumbs.db